<div class="content">
    <div class="sideNave">
        <a routerLink="/concursoestudiantes/seminarios" class="redirecBack"><img src="../../../../../assets/back.png" alt=""></a>
    </div>
    <div class="form">
        <div class="headForm">Agregar Formulario Evento</div>
        <div class="groupDiv">
            <div class="columDiv">
              <span>Id Seminario:</span>
              <span>Clave Seminario:</span>
              <span>Descripcion:</span>
            </div>
            <div class="columDiv">
              <span>idSeminario</span>
              <span>seminario.idSeminario.cveSeminario</span>
              <span>seminario.idSeminario.descripcion</span>
            </div>
          </div>
        <div class="divRow"><label for="">Titulo:*</label>
            <input matInput/>
        </div>
        <div class="divRow"><label for="">Descripción:*</label>
            <input matInput/>
        </div>

        <div class="divRow"><label for="">Tema:*</label>
                <input matInput />
        </div>
        
        <div class="divRow"><label for="">Fecha*</label>
            <input/>
        </div>

        <div class="divRow"><label for="">Horarios:*</label>
            <input/>
        </div>
        <div class="divRow"><label for="">Contacto:*</label>
            <input matInput />
    </div>
    <div class="divRow"><label for="">Estado*</label>
        <input matInput />
</div>
<div class="divRow"><label for="">Nombre Imagen:*</label>
    <input matInput />
</div>
<div class="divRow"><label for="">Imagen:*</label>
    <input matInput />
</div>
<div class="divRow"><label for="">Botón de Registro::*</label>
    <input matInput />
</div>
       
        <div class="divRow">
            <div class="buttonRegresar">
                <button type="button" mat-button  >Regresar</button>
            </div>
            <div class="buttonGuardar">
                <button type="button" mat-button  >Guardar</button>
            </div>
        </div>

    </div>
</div>
