<div class="content">

  <div class="sideNave">
    <a routerLink="/concursoestudiantes/home" class="redirecBack"><img src="../../../../../assets/back.png" alt=""></a>
    <div style="box-shadow: 0 0 10px #9E1B31; border-radius:10px 40px; width: 15%;padding: 10px; float: right;background-color: #9E1B31;margin-right: 20px;margin-top:5px;text-align: center;color: #fff;">
      CONCURSOS
    </div>
  </div>

  <div >
  <div class="button">
    <button type="button" mat-button (click)="addConcurso()" >Agregar Concurso</button>
  </div>

  <div class="table-responsive p-2">
    <div class="table" >
      <div class="columHeader">
        <table>
          <tr>
            <th> ID Concurso </th>
            <th> Clave </th>
            <th> Descripcion</th>
            <th> Año </th>
            <th> Folio </th>
            <th> acciones </th>
            <th> Activo/Inactivo </th>

          </tr>
        </table>
      </div>

      <div class="rows">
        <table>
         
          <tr *ngFor="let item of ELEMENT_DATA | slice:desde:hasta let i=index">
            <td>{{item.id}}</td>
            <td>{{item.cveConcurso}}</td>
            <td>{{item.descripcion}}</td>
            <td>{{item.anio}}</td>
            <td>{{item.folio}}</td>
            <td><img src="../../../../../assets/icono-editar.png" matTooltip="Editar"  class="iconAcciones" (click)="editarConcurso(item.id,item.cveConcurso,item.descripcion,item.anio,item.folio)">
              <img src="../../../../../assets/icono-reiniciar-folio.png" matTooltip="Resetear Folio" class="iconAcciones" (click)="resetFolio(item.id,item.cveConcurso,item.descripcion,item.anio,item.folio)">
            </td>
            <td><mat-checkbox [(ngModel)]="item.activo" (click)="activeInactive(item.id,item.activo)"></mat-checkbox></td>
          </tr>
        </table>
    
      </div>


    </div>
   <div class="paginator">
    
    <mat-paginator [length]="length" [pageSize]="pageSize" (page)="cambiarpagina($event)">
      
    </mat-paginator>
   </div>
     
  </div>
</div>  
</div>



