<div class="content">
    <div class="headerClose"><button class="close" data-dismiss="modal" type="button" (click)="closeDialog()">
        ×
    </button></div>
    <div class="dialogContainer" *ngIf="data.accion=='evento-1'">
        <div class="divRow"><h4>Agregar Tipo Evento</h4> </div>

        <div class="divRow">
            <label for="clave">Descripción Tipo Evento:*</label>
            <input matInput [(ngModel)]="descripcion">
        </div>
       
        
            <div class="divButton">
                <button class="dialogButton" type="button"  (click)="AgregarTipoEvento()">Agregar</button>
            </div>
    </div>


    <div class="dialogContainer" *ngIf="data.accion=='evento-2'">
        <div class="divRow"><h4>Editar Tipo Evento</h4> </div>
        <div class="divRow">
            <label for="clave">Id Tipo Evento:*</label>
            <input matInput [(ngModel)]="data.id" disabled>
        </div>
        <div class="divRow">
            <label for="clave">Descripción Tipo Evento:*</label>
            <input matInput [(ngModel)]="data.descripcion">
        </div>
       
        
            <div class="divButton">
                <button class="dialogButton" type="button"  (click)="guardarEvento()">Guardar</button>
            </div>
    </div>


    <div class="dialogContainer" *ngIf="data.accion=='evento-3'">
        <div class="divAviso">
            <p>
                ¿Estás seguro que deseas eliminar <br><br> 
                este Tipo de Evento?<br><br>
                Tipo Evento: <strong>Seminario</strong>
            </p> 
        </div>
        <div class="divButton">
                <button class="dialogButton btn1" type="button"  (click)="closeDialog()" >Cancelar</button>
                <button class="dialogButton btn2" type="button"  (click)="eliminarTipoEvento()">Aceptar</button>
        </div>
    </div>


    </div>