
.featured{
    border:solid 1px #D0D0D0;
    border-radius: 10px;
    background-color:#fff;
    height: auto;
    margin:20px;

}
.tFeatured{
    height: 90px;

}

.tFeatured .descripcion, .indicadores{
    font-size: 7px;
}
.logoFeatured{
    width:60px;
    height: 60px;
}
.boxx{
    display: flexbox;
    justify-content: space-between; 
    text-align: center;
}

.boxx div{
   width: 300px;
   display: inline-block;
}

.icons-dasboard{
    position: absolute;
right:20px;
}