<app-spinner></app-spinner>
<div class="content">
  <div class="sideNave">
        <a routerLink="/concursoestudiantes/home" class="redirecBack"><img src="../../../../../assets/back.png" alt=""></a>
        <div style="box-shadow: 0 0 10px #9E1B31; border-radius:10px 40px; width: 15%;padding: 10px; float: right;background-color: #9E1B31;margin-right: 20px;margin-top:5px;text-align: center;color: #fff;">
          EVENTOS
        </div>
  </div>
  <div class="divContainer">
      <div class="divButton">
        <button class="button" type="button" mat-button (click)="agregarTipoEvento()" >Agregar Tipo Evento</button>
      </div>

      <div class="tableContainer">
        <table class="table" >
            <div class="columHeader">
                  <tr>
                    <th>ID Tipo Evento</th>
                    <th>Descripcion</th>
                    <th>Acciones</th>
                  </tr>
            </div>

            <div class="rows">
                
                  <tr *ngFor="let item of ELEMENT_DATA | slice:desde:hasta let i=index">
                    <td>{{item.id}}</td>
                    <td>{{item.descripcion}}</td>
                    <td>
                        <img src="../../../../../assets/icono-editar.png" matTooltip="Editar" class="iconAcciones" (click)="editarEvento(item.id,item.descripcion)">
                        <img src="../../../../../assets/icono-quitar.png" matTooltip="Eliminar Evento" class="iconAcciones" (click)="eliminarEvento(item.id)">
                    </td>
                  </tr>
              
    
            </div>
        </table>
        <div class="paginator">
          <mat-paginator [length]="length" [pageSize]="pageSize" (page)="cambiarpagina($event)">
          </mat-paginator>
        </div>
     
      </div>
  </div>  
</div>

